body{
	background-color: IndianRed;
}
h1{
	text-align: center;
}
img{
	margin-left: 32%;
	margin-top: 2%;
}
.alta{
	width: 1024px;
	height: 600px;
}
.media{
	width: 600px;
	height: 400px;
}
.baja{
	width: 300px;
	height: 150px;
}
a:link{
	text-decoration: none;
}
p{
	font-size: 20;
	text-align: center;
	color: black;
}